<div class="centered-content">
    <div class="header-container">
        <h1 class="title"> Leaderboard </h1>
        <h1 class="title" routerLink="/browse"> Browse </h1>
        <h1 class="title" routerLink="/vote"> Vote </h1>
    </div>
    <div class="leaderboard-container">
        <ng-container *ngIf="loaded; else loading">
            <ng-container *ngFor="let book of topBooks; let i = index"> 
                <div class="white">
                    {{ i + 1 }}. 
                    <span style="color: gold;"> (★{{ book.average }}) </span> 
                    {{ book.title }} - {{ book.author }}
                </div>
            </ng-container>
        </ng-container>
        <ng-template #loading> <h1 class="leaderboard-item"> Loading... </h1> </ng-template>
    </div>
</div>