<div class="centered-content">
    <div class="header-container">
        <h1 class="title">
            Leaderboard
        </h1>
        <h1 class="title">
            Browse
        </h1>
        <h1 class="title">
            Vote
        </h1>
    </div>
    <div class="leaderboard-container">
        <div *ngIf="booksLoaded && votesLoaded; else loading">
            <div *ngFor="let book of calculateTopThreeBooks(); let i = index"> 
                <h1 class="leaderboard-item">
                    {{ i + 1 }}.  {{ book.titleAuthor }}  (SCORE: {{ book.score }})
                </h1>
            </div>
        </div>
        <ng-template #loading>
            <h1 class="leaderboard-item">
                Loading...
            </h1>
        </ng-template>
    </div>
</div>