<div class="centered-content">
    <div class="header-container">
        <h1 class="title" routerLink=""> Leaderboard </h1>
        <h1 class="title" routerLink="/browse"> Browse </h1>
        <h1 class="title" routerLink="/vote"> Vote </h1>
        <h1 class="title"> Login </h1>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-container">
        <label>Username:  </label>
        <input type="text" formControlName="username">
        <br>
        <label>Password: </label>
        <input type="text" formControlName="password">
        <br>
        <br>
        <button [disabled]="!loginForm.valid" type="submit">Login</button>
        <a routerLink="/register" class="inline">Register</a>
        <p *ngIf="invalidLoginAttempt"> Invalid Login </p>
    </form>
</div>