<div class="centered-content">
    <div class="header-container">
        <h1 class="title" routerLink=""> Leaderboard </h1>
        <h1 class="title" routerLink="/browse"> Browse </h1>
        <h1 class="title" routerLink="/vote"> Vote </h1>
    </div>
    <form [formGroup]="voteForm" (ngSubmit)="onSubmit()">
        <select required formControlName="book">
            <option value=""> Choose a Book...</option>
            <option *ngFor="let book of this.books"> {{ book.title }}, {{ book.author }} </option>
        </select>
        <a routerLink="/new-book">Add new book</a>
        <br>
        <label> Rating: </label>
        <span class="rating">
            <input type="radio" id="rating-5" value="5" formControlName="stars"/> <label for="rating-5">5</label>
            <input type="radio" id="rating-4" value="4" formControlName="stars"/> <label for="rating-4">4</label>
            <input type="radio" id="rating-3" value="3" formControlName="stars"/> <label for="rating-3">3</label>
            <input type="radio" id="rating-2" value="2" formControlName="stars"/> <label for="rating-2">2</label>
            <input type="radio" id="rating-1" value="1" formControlName="stars"/> <label for="rating-1">1</label>
        </span>
        <br>
        <br>
        <button [disabled]="!voteForm.valid || !loaded" type="submit">Vote</button>
    </form>
</div>
