.form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 480px;
}

option {
    font-size: smaller;
}


.rating {
    /* flip the order so we can use ~ and + */
    unicode-bidi: bidi-override;
    direction: rtl;
}

.rating * {
    font-size: 2rem;
}

/* gets rid of the input=radio default buttons for all direct children */
.rating > input {
    display: none;
}

.rating > input + label {
    /* only enough room for the star */
    display: inline-block;
    text-indent: 9999px;
    width: 30px;
    white-space: nowrap;
}

.rating > input + label:before {
    display: inline-block;
    text-indent: -9999px;
    content: "☆";
    color: #888;
}

/* makes effect stick after a star is clicked on */
.rating > input:checked ~ label:before {
    content: "★";
    color:limegreen;
    text-shadow: 0 0 1px rgb(118, 225, 118);
}

/* highlights current star cursor is hovering over and every one before it */
.rating:hover > input + label:hover ~ label:before, .rating:hover > input + label:hover:before {
    content: "★";
    color: limegreen;
    text-shadow: 0 0 8px rgb(118, 225, 118);
}
