<div class="centered-content">
    <div class="header-container">
        <h1 class="title" routerLink="">
            Leaderboard
        </h1>
        <h1 class="title" routerLink="/browse">
            Browse
        </h1>
        <h1 class="title">
            Vote
        </h1>
    </div>
    <form  [formGroup]="voteForm" (ngSubmit)="onSubmit()">
        <p>
            <label class="white"> Username: </label>
            <input type="text" class="white" formControlName="username">
        </p>
        <div *ngIf="booksLoaded; else loading">
            <select class="white" formControlName="book">
                <option> Choose a Book...</option>
                <option *ngFor="let book of this.books"> {{ book.title }}, {{ book.author }} </option>
            </select>
        </div>
        <ng-template #loading> Loading... </ng-template>
        <p>
            <label class="white"> Rating: </label>
            <span class="rating">
                <input type="radio" id="rating-5" name="stars" value="5" formControlName="stars">/> <label for="rating-5">5</label>
                <input type="radio" id="rating-4" name="stars" value="4" formControlName="stars" checked="checked"/> <label for="rating-4">4</label>
                <input type="radio" id="rating-3" name="stars" value="3" formControlName="stars"/> <label for="rating-3">3</label>
                <input type="radio" id="rating-2" name="stars" value="2" formControlName="stars"/> <label for="rating-2">2</label>
                <input type="radio" id="rating-1" name="stars" value="1" formControlName="stars"/> <label for="rating-1">1</label>
            </span>
        </p>

        <p>
            <button class="white" type="submit">Vote</button>
        </p>
    </form>
</div>
