/* You can add global styles to this file, and also import other style files */


* {
    font-family: monospace;
    background-color: black;
}

h1 {
    color: greenyellow;
}

.centered-content {
    position: fixed;
    left: 550px;
    top: 100px;
}

.header-container {
    display: flex;
    position: fixed;
    top: 0px;
    left: 500px;
    width: 100%;
    max-width: 600px;
    justify-content: space-evenly;
}

.login-container {
    position: fixed;
    left: 700px;
    top: 100px;
}

.login-header {
    position: fixed;
    left: 400px;
    top: 100px;
}

.login-header button {
    color: black;
    background-color: greenyellow;
    cursor: pointer;
}

.login-header button:hover {
    color: greenyellow;
    background-color: black;
    cursor: pointer;
}

.header-container h1:hover {
    color: black;
    background-color: greenyellow;
    cursor: pointer;
}

.white {
    color: white;
}

.red {
    color: red;
}