.content-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 480px;
}

table, th, td {
    color: slateblue;
    text-indent: 30px;
    border-collapse: collapse;
}

.no-votes {
    color: slateblue;
    text-indent: 90px;
}

summary:hover {
    cursor: pointer;
}

details, p {
    color: white;
}

.stars {
    text-align: right;
}