.content-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 480px;
}

.vote-item {
    color: slateblue;
    text-indent: 30px;
    margin: 0;
}

summary:hover {
    cursor: pointer;
}
