<div class="centered-content">
    <div class="header-container">
        <h1 class="title" routerLink="">
            Leaderboard
        </h1>
        <h1 class="title">
            Browse
        </h1>
        <h1 class="title" routerLink="/vote">
            Vote
        </h1>
    </div>
    <div class="content-container">
        <div *ngIf="loaded; else loading">
            <div *ngFor="let book of voteData">
                <details class="white">
                    <summary> {{ book.title }} {{ book.author }}</summary>
                    <div *ngIf="book.votes.length > 0; else NoVotes">
                        <span *ngFor="let vote of book.votes">
                            <p class="vote-item"> {{ vote.username }}: {{ vote.stars}}
                                <span *ngFor="let _ of [].constructor(vote.stars)">★</span>
                            </p>
                        </span>
                    </div>
                    <ng-template #NoVotes>
                        <p class="vote-item">
                            No votes for this book yet :(
                        </p>
                    </ng-template>
                </details>
            </div>
            
        </div>
        <ng-template #loading>
            <p class="book-item">
                Loading...
            </p>
        </ng-template>
    </div>
</div>
